/* CSS HEX */
:root{
--maximum-yellow-red: #f6bd60ff;
--almond: #f2e1cfff;
--baby-pink: #f6cdcbff;
--wintergreen-dream: #5F8178;
--fire-opal: #ED5C5A;
}

#mainContent {
    background-image: url('./1-unsplash.jpg');
    background-size: cover;
    filter: blur(3px);
   -webkit-filter: blur(3px);
  }